openapi: 3.0.3
info:
  title: Zoho Sign Accounts Users API
  version: '1.0'
  description: Digital signature API for sending, signing, and managing documents.
  x-jentic-source-url: https://www.zoho.com/sign/api/
  contact:
    name: Zoho Sign API Support
servers:
- url: https://sign.zoho.com/api/v1
security:
- oauth2: []
tags:
- name: Users
paths:
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - Users
      parameters:
      - name: row_count
        in: query
        required: false
        schema:
          type: integer
      - name: start_index
        in: query
        required: false
        schema:
          type: integer
      - name: sort_column
        in: query
        required: false
        schema:
          type: string
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: List users
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        code:
          type: string
        message:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.zoho.com/oauth/v2/auth
          tokenUrl: https://accounts.zoho.com/oauth/v2/token
          scopes:
            ZohoSign.documents.ALL: All document operations
            ZohoSign.templates.ALL: All template operations
            ZohoSign.account.ALL: Account operations
